{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["package.json", "manifest.json"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        }
    ]
}
